---
title: Inicio
layout: index
icon: home
---

{% if paginator.page == 1 %}
    <section class="home">
        <header>
            <h1>Página principal</h1>
        </header>

        {% include quotes.html %}
        {% include intro.html %}
    </section>
{% endif %}

<section class="blog">
    <header>
        <h1>Blog</h1>
    </header>

    <section class="articleList infinite-container">
        <header>
            <h1>Lista de artículos</h1>
        </header>

        {% for post in paginator.posts %}
            <article class="infinite-item entry">
                <header>
                    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                    <time>{{ post.date | date: "%d/%m/%Y" }}</time>
                    {% if post.image %}
                    <img src="https://dl.dropboxusercontent.com/u/6037255/blogImages/{{ post.path | replace:'_posts/',''| replace:'.md','.jpg' }}" title="{{ post.image }}" alt="{{ post.image }}" class="cover" />
                    {% endif %}
                </header>
                <section class="content">
                    <header>
                        <h1>Contenido de la entrada</h1>
                    </header>

                    {{ post.content }}
                </section>
                <footer>
                    <header>
                        <h1>Enlaces y comentarios</h1>
                    </header>

                    <ul class="entryButtons">
                        <li class="shareButton"><a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl={{ site.web.url }}{{ post.url }}" target="_blank">
                            <i class="icon-share"></i>
                            <span>Compartir entrada</span>
                        </a></li>
                        <li class="showComments"><a onclick="p2kmgcl.module('embedComment', true, { link: this, identifier: 'p2kmgcl', url: '{{ site.web.url }}{{ post.url }}' })">
                            <i class="icon-edit"></i>
                            <span>Lista de comentarios</span>
                        </a></li>
                    </ul>
                        
                    <script type="text/javascript">
                        var a2a_config = a2a_config || {};
                        a2a_config.linkname = "{{ post.title | replace:'"','\"' }}";
                        a2a_config.linkurl = "{{ site.web.url }}{{ post.url }}";
                        a2a_config.locale = "es";
                        a2a_config.num_services = 6;
                        a2a_config.prioritize = ["google_plus", "facebook", "twitter", "tuenti", "reddit", "email"];
                    </script>
                    <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
                </footer>
            </article>
        {% endfor %}
    </section>

    <nav class="pagination">
        <header>
            <h1>Navegación entre artículos</h1>
        </header>

        {% if paginator.previous_page %}<a href="{% if paginator.previous_page != 1 %}/page{{ paginator.previous_page }}{% else %}/index.html{% endif %}" class="previous"><i class="icon-caret-left"></i><span>Anterior</span></a>{% else %}<span class="previous">Anterior</span>{% endif %}
      
        <span class="pageNumber">
            <span class="current">{{ paginator.page }}</span>
             de 
            <span class="total">{{ paginator.total_pages }}</span>
        </span>

        {% if paginator.next_page %}<a href="/page{{ paginator.next_page }}" class="next infinite-more-link"><i class="icon-caret-right"></i><span>Siguiente</span></a>{% else %}<span class="next">Siguiente</span>{% endif %}
    </nav>

    {% if site.jsmodules contains 'infinitescroll' %}
        {% include congratulations.html %}
    {% endif %}
</section>
