---
title: Inicio
layout: index
icon: home
---

{% if paginator.page == 1 %}
    <section class="home">
        <h1>Página principal</h1>

        {% include content/quotes.html %}
        {% include content/intro.html %}
    </section>
{% endif %}

<section class="blog list all">
    <h1>Blog</h1>

    {% if paginator.page == 1 %}
    <article class="blogSeparation">
        <h1>Secciones del blog</h1>
        <p>Las entradas que se listan a continuación son <strong>todas</strong> las entradas del blog ordenadas por fecha. Si quieres algo más organizado, consulta en el menú principal las distintas categorías.</p>
    </article>
    {% endif %}

    <section class="articleList infinite-container">
        <h1>Lista de artículos</h1>

        {% for post in paginator.posts %}
            {% assign content = post.content %}
            {% assign post_type = 'long' %}
            {% include post_content.html %}
        {% endfor %}
    </section>

    <nav class="pagination">
        <h1>Navegación entre artículos</h1>

        {% if paginator.previous_page %}<a href="{% if paginator.previous_page != 1 %}/page{{ paginator.previous_page }}{% else %}/index.html{% endif %}" class="previous"><i class="icon-caret-left"></i><span>Anterior</span></a>{% else %}<span class="previous"><i class="icon-caret-left"></i><span>Anterior</span></span>{% endif %}
      
        <span class="pageNumber">
            <span class="current">{{ paginator.page }}</span>
             de 
            <span class="total">{{ paginator.total_pages }}</span>
        </span>

        {% if paginator.next_page %}<a href="/page{{ paginator.next_page }}" class="next infinite-more-link"><i class="icon-caret-right"></i><span>Siguiente</span></a>{% else %}<span class="next"><i class="icon-caret-right"></i><span>Siguiente</span></span>{% endif %}
    </nav>
</section>
