<footer class="infiniteCongratulation">
    <header>
        <h1>Premio para el vencedor</h1>
    </header>

    <p><strong>¡Enhorabuena!</strong> Si has llegado aquí quiere decir que has recorrido todos los artículos de la página o que has encontrado un fallo (si es lo segundo, <a href="mailto:webbug@pablomolina.me">mándame un mensajillo, porfa</a>).
    <p>No pienses que esto es como aquel videojuego que te pasaste para que solo pusiera "Fin", ni mucho menos. A continuación te desvelo varias curiosidades con las que puedes entretenerte un rato más en la página.</p>
</footer>
