<header class="mainHeader">
    <header>
        <hgroup>
            <h1><a href="/index.html" />{{ site.web.title }}</a></h1>
            <h2>{{ site.web.subtitle }}</h2>
        </hgroup>
    </header>

    <nav class="mainMenu">
        <header>
            <h1>Menú principal</h1>
        </header>
        <ul>
            {% for _page in site.pages limit:4 %}{% if _page.title %}
                <li{% if _page.url == page.url %} class="current"{% endif %}>
                    <i class="icon-{{ _page.icon }}"></i>
                    <a href="{{ _page.url }}">{{ _page.title }}</a>
                </li>
            {% endif %}{% endfor %}
        </ul>
    </nav>
</header>
