<header class="mainHeader">
    <h1 class="title"><a href="/index.html">{{ site.web.title }}</a></h1>
    <p class="subtitle">{{ site.web.subtitle }}</p>

    <nav class="mainMenu">
        <h1>Menú principal</h1>
        
        <ul>
            <li{% if "/index.html" == page.url %} class="current"{% endif %}>
                <i class="icon-home"></i>
                <a href="/">Inicio</a>
            </li>
            {% for _page in site.pages %}{% if _page.title and _page.menu %}
            <li{% if _page.url == page.url %} class="current"{% endif %}>
                <i class="icon-{{ _page.icon }}"></i>
                <a href="{{ _page.url }}">{{ _page.title }}</a>
            </li>
            {% endif %}{% endfor %}
        </ul>
    </nav>
</header>
