<article class="intro">
    <header>
        <hgroup>
            <h1>Mensaje de bienvenida</h1>
            <h2>Breve introducción para aquél que no me conozca</h2>
        </hgroup>
    </header>
    <p>El mundo va cambiando. Adaptarse, vivir y soñar son acciones que consideramos vitales. Conforme creces, empiezas a perder la fe en cosas que antes te parecían más que relevantes y los deseos que antes te hacían afrontar todo con una sonrisa se vuelven débiles y llorosos.</p>
    <p>Pero yo sigo soñando, sigo adaptándome y sigo viviendo el día a día intentando cambiar y actuar como me plazca. Es por eso que quiero dejar un pedacito de mí con la esperanza de que no acabe perdido por el mundo.</p>
    <p>Así que comienza a leer y, cuando termines, continúa con tu vida con una sonrisa de oreja a oreja, porque con tu alegría el mundo será un lugar mejor. Sigue ayudando, sigue siendo partícipe del resto, gracias a ti este planeta es un lugar mejor. Nosotros somos porque tú eres.</p>
</article>
