{% if post.image %}
    {% if post.imageFormat %}
        {% assign post_imageFormat = post.imageFormat %}
    {% else %}
        {% assign post_imageFormat = 'jpg' %}
    {% endif %}

    {% capture post_image %}{{ site.data.imagePath }}{{ post.url | replace:'.html','.' }}{{ post_imageFormat }}{% endcapture %}
{% endif %}

{% capture post_class %}{{ post_type }}{% if post.categories %} {{ post.categories | join:' ' }}{% endif %}{% endcapture %}

{% capture post_style %}{% if post_type == 'cover' and post.image %}style="background-image: url({{ post_image }})"{% endif %}{% endcapture %}
