<article class="entry infinite-item {{ post_type }}{% if post.categories %} {{ post.categories | join:' ' }}{% endif %}" {% if post_type == 'cover' %}style="background-image: url({{ site.data.imagePath }}{{ post.url | replace:'.html','.jpg' }})"{% endif %}>
    <header>
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <time>{{ post.date | date: "%d-%m-%Y" }}</time>

        {% comment %} Si hay un autor en la entrada muestra a éste,
           en caso contrario muestra al autor por defecto {% endcomment %}
        {% if post.author and post.author_url %}
            <a class="author" href="{{ post.author_url }}" target="_blank">{{ post.author }}</a>
        {% else %}
            <a class="author" href="{{ site.author.googleAuthorship }}" target="_blank">Por {{ site.author.name }}</a>
        {% endif %}

        {% if post_type == 'cover' and post.image %}
            <img src="{{ site.data.imagePath }}{{ post.url | replace:'.html','.jpg' }}" title="{{ post.image }}" alt="{{ post.image }}" class="cover" />
        {% endif %}
    </header>
    
    {% if post_type == 'long' or post_type == 'single' %}
    <div class="content">
        {% if post.image %}
        <img src="{{ site.data.imagePath }}{{ post.url | replace:'.html','.jpg' }}" title="{{ post.image }}" alt="{{ post.image }}" class="cover" />
        {% endif %}
        {{ content }}
    </div>
    {% endif %}
    
    {% if post_type == 'long' or post_type == 'single' %}
    <footer>
        {% if post_type == 'single' %}
        <section class="share">
            <h1>Enlaces</h1>

            <a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl={{ site.web.url }}{{ post.url }}" target="_blank">
                <i class="icon-share"></i>
                <span>¿Te ha gustado? ¿te parece útil? ¿te gustan los gatitos? Comparte esta entrada y todos tus sueños se harán realidad.<em>*</em></span>
            </a>
        </section>
        <section class="comments">
            <h1>Comentarios</h1>
            
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = '{{ site.data.disqus }}',
                    disqus_identifier = '{{ page.url }}',
                    disqus_url = '{{ site.web.url }}{{ post.url }}',
                    disqus_title = "{{ post.title | replace:'"','\"' }}";

                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </section>
        
        {% else %}
        
        <ul class="entryButtons">
            <li class="shareButton"><a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl={{ site.web.url }}{{ post.url }}" target="_blank">
                <i class="icon-share"></i>
                <span>Compartir entrada</span>
            </a></li>
            <li class="showComments"><a onclick='p2kmgcl.module("embedComment", true, { link: this, shortname: "{{ site.data.disqus }}", identifier: "{{ post.url }}", url: "{{ site.web.url }}{{ post.url }}", title: "{{ post.title | replace:'"','\"' }}" })'>
                <i class="icon-edit"></i>
                <span>Lista de comentarios</span>
            </a></li>
        </ul>
        {% endif %}
    </footer>
    {% endif %}
</article>
