<section class="randomQuotes">
    <header>
        <h1>Frases importantes</h1>
    </header>
    </ul>
    {% for quote in site.quotes %}
        <li><blockquote>
            <p>{{ quote.quote }}</p>
            {% if quote.origin %}
                <footer><cite>
                    {% if quote.link %}
                        <a href="{{ quote.link }}">{{ quote.origin }}</a>
                    {% else %}
                        {{ quote.origin }}
                    {% endif %}
                </cite></footer>
            {% endif %}
        </blockquote></li>
    {% endfor %}
    </ul>
</section>
