#mainHeader {
    @media (max-width:  @sizeTablet) {
        position: static;
        width: 100%;
        padding: 0;
        background-color: darken(@bodyBgColor, 2%);
    }

    > .title,
    > .subtitle {
        display: none;
        position: absolute;
    }
}

// Menú principal con las páginas
// de la web
#mainMenu {
    position:       absolute;
    right:          0.5em;
    top:           -0.5em;
    line-height:    0;
    padding:        0;
    padding-right:  3em;
    z-index:        450;

    > h1 {
        display: none;
    }

    > ul {
        list-style: none;
        padding:    0;
        margin:     0;
        text-align: right;
        width: 100%;

        // Pequeño truco para eliminar el
        // salto de línea entre elementos
        @media (max-width: @sizeTablet) {
            font-size: 0;
        }
    
        > li {
            display:        inline-block;
            background:     @bodyBgColor;
            padding:        0 0.2em;
            padding-left:   0.5em;
            margin-right:   0.5em;
            margin-bottom:  0.5em;

            white-space:    nowrap;
            position:       relative;

            &.blog {
                > h1 {
                    font-size: 1em;
                    font-family: @bodyFont;
                    padding: 0;
                    margin: 0;
                    display: inline;
                }

                > ul {
                    position: absolute;
                    top: 1em;
                    left: 0.5em;
                    box-sizing: border-box;
                    width: 100%;
                    min-width: 8em;
                    max-height: 100%;
                    background-color: @bodyBgColor;

                    display: inline-block;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    opacity: 0;
                    overflow: hidden;
                    z-index: 100;

                    transition: ease 0.3s;
                    transition-property: top, max-height, opacity;

                    > li {
                        text-align: left;
                        padding-top: 0.5em;
                    }

                    @media (max-width: @sizeTablet) {
                        left: 0;
                        padding: 0;
                        background-color: darken(@bodyBgColor, 10%);

                        > li {
                            padding: 0.75em 0.5em;
                            text-align: center;
                            box-shadow: inset 0 -0.1em 0.1em @black;

                            > a,
                            > i {
                                color: @black;
                            }
                        }
                    }
                }

                &:hover > ul,
                > ul:hover {
                    top: 1em;
                    opacity: 1;
                    max-height: 500%;

                    @media (max-width: @sizeTablet) {
                        top: 100%;
                    }
                }
            }

            > i {
                padding-right:  0;
            }

            > a,
            > ul > li > a {
                border-bottom:  none;
                color:          lighten(@black, 5%);
            }

            &.current > a,
            &.current > span {
                font-weight:    bolder;
            }

            @media (max-width: @sizeTablet) {
                margin: 0 auto;
                padding: 0.75em 1em;
                box-sizing: border-box;
                box-shadow: 0 -2px 1px -1px @black;
                width: 50%;
                background-color: transparent;

                &:nth-child(even) {
                    box-shadow: 0 -2px 1px -1px @black,
                                -2px 0 1px -1px @black;
                }

                // Pequeño truco para eliminar el
                // salto de línea entre elementos
                font-size: @bodyFontSize * 1.2;

                &.current {
                    background-color: @black;
                    color: @bodyBgColor;

                    > a {
                        color: inherit;
                    }
                }
            }

            @media (max-width: @sizeSmall) {
                width: 100%;
                box-shadow: 0 -2px 1px -1px @black;
            }
        }
    }

    @media (max-width: @sizeTablet) {
        position: relative;
        top: 0;
        left: 0;
        padding-right: 0;
        font-size: 1.1em;

        > ul {
            text-align: center;
        }
    }
}
    
// Cita aleatoria
// que se muestra en la página
// inicial
#randomQuotes {
    > header {
        display: none;
    }

    @media (max-width: @sizeTablet) {
        width: 90%;
        padding: 0 5%;
    }

    > ul {
        padding-left: 0;

        .quoteWrapper {
            display: none;

            &.chosen {
                display: block;

                > .quote {
                    margin-left: 0;
                
                    > p {
                        font-family: @titleFont;
                        font-size: 2.5em;
                        margin-bottom: 0;
                    }

                    > footer > cite {
                        font-size: 1em;
                        font-style: normal;
                        text-align: left;

                        &:before {
                            color: darken(@aoi, 30%);
                            content: '\2014 \2009';
                            padding-left: 0.25em;
                        }
                    }
                }
            }
        }
    }
}
