
.page {
    text-align: justify;
    width: 90%;

    > article {
        margin-bottom: 5em;

        > h1 {
            font-size: 2em;
            font-weight: normal;
            padding-bottom: 0.25em;
        }
    }
}

// Todas las secciones que
// "cuelgan" de body
// tienen las mismas características
body > section {
    width:      90%;
    z-index:    50;
    position:   relative;

    > h1 {
        display: none;
    }

    @media (max-width: @sizeTablet) {
        margin: 0 auto;
        width: 100%;
    }
}
