
.page {
    text-align: justify;
}

// Todas las secciones que
// "cuelgan" de body
// tienen las mismas características
body > section {
    width:      90%;
    z-index:    50;
    position:   relative;

    > header {
        display: none;
    }

    @media (max-width: @sizeTablet) {
        margin: 0 auto;
        width: 100%;
    }
}
