.mainSidebar,
.mainHeader,
.mainFooter {
	display: none;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../libs/inconsolata-font/inconsolata-webfont.eot');
    src: url('../libs/inconsolata-font/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('../libs/inconsolata-font/inconsolata-webfont.woff') format('woff'),
         url('../libs/inconsolata-font/inconsolata-webfont.ttf') format('truetype'),
         url('../libs/inconsolata-font/inconsolata-webfont.svg#Inconsolata') format('svg');
    font-weight: normal;
    font-style: normal;

}

.p2kmgclEditor {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

	.p2kmgclEditor > .editors,
	.p2kmgclEditor > .output {
		display: block;
		float: left;

		width: 50%;
		height: 100%;
		box-sizing: border-box;
		box-shadow: 0 0 1px black;
		overflow: hidden;
	}

	.p2kmgclEditor > .editors {
		font-family: 'Inconsolata';
		position: relative;
	}

		.p2kmgclEditor > .editors > .codemirrorEditor {
			display: block;
			float: left;

			width: 100%;
			height: 33.3334%;
			box-sizing: border-box;
			overflow: hidden;
			box-shadow: 0 0 1px black;
		}

			.p2kmgclEditor > .editors > .codemirrorEditor ~ .CodeMirror {
				height: 33.3334%;
				box-sizing: border-box;
				font-family: 'Inconsolata';
				position: relative;
			}

				.p2kmgclEditor > .editors > .codemirrorEditor ~ .CodeMirror .cm-trailingspace {
					box-shadow: inset 0 -4px 1px -1px #ddd;
				}

			.p2kmgclEditor > .editors > .codemirrorEditor ~ .CodeMirror:after {
				content: attr(data-language);
				text-transform: capitalize;

				display: block;
				position: absolute;
				top: 0;
				right: 1.5em;
				padding: 0.1em 0.25em;
				width: 5em;
				text-align: center;
				color: white;
				background-color: rgb(150, 150, 150);
				background-color: rgba(150, 150, 150, 0.8);
				box-shadow: 1px 0 1px #888,
							-1px 0 1px #888,
							0 1px 1px #888;
				z-index: 9999;

				border-radius: 0 0 0.25em 0.25em;
			}

	.p2kmgclEditor > .output > iframe {
		width: 100%;
		height: 100%;
		border: none;
	}

.p2kmgclEditorFullscreen > .editors,
.p2kmgclEditorFullscreen > .output {
	width: 100% !important;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 1;
}

	.p2kmgclEditorFullscreen > .editors {
		z-index: 2000;
	}

		.p2kmgclEditorFullscreen > .editors > .codemirrorEditor,
		.p2kmgclEditorFullscreen > .editors > .codemirrorEditor ~ .CodeMirror {
			display: none;
		}

		.p2kmgclEditorFullscreen > .editors > .codemirrorEditor ~ .CodeMirror-fullscreen-focus {
			display: block;
			height: 100%;
			background-image: none;
			background-color: rgba(255, 255, 255, 0.8);
		}

			.p2kmgclEditorFullscreen > .editors > .codemirrorEditor ~ .CodeMirror-fullscreen-focus .CodeMirror-code pre {
				display: inline-block;
				background-color: rgba(255, 255, 255, 0.8);
				line-height: 1em;
				padding: 0.25em;
			}
