<noscript class="unloadedStyle" data-href="{{ site.baseurl }}/styles/libs.css"></noscript>

{% capture themePath %}{{ site.baseurl }}/{{ site.less.themePath }}/{{ site.less.theme }}/build_css/{% endcapture %}
<noscript class="unloadedStyle" data-href="{{ themePath }}/main.css"></noscript>
{% if layout == 'page' %}
    <noscript class="unloadedStyle" data-href="{{ themePath }}/page.css"></noscript>
{% endif %}
{{ site }}
{{ layout }}

<script>window.p2kmgclCallbacks.push(function () {
    var styles = document.getElementsByClassName('unloadedStyle'),
        newLink;
    for (var i = 0; i < styles.length; i++) {
        newLink = document.createElement('link');
        newLink.rel = 'stylesheet';
        newLink.href = styles[i].dataset.href;
        document.head.appendChild(newLink);
    }
});</script>
