<noscript class="unloadedStyle" data-href="{{ site.baseurl }}/styles/libs.css"></noscript>
{% if site.less.env == "development" %}
<noscript class="unloadedStyle" data-href="{{ site.baseurl }}/{{ site.less.themePath }}/{{ site.less.theme }}/index.less"></noscript>
{% else %}
<noscript class="unloadedStyle" data-href="{{ site.baseurl }}/{{ site.less.themePath }}/{{ site.less.theme }}.css"></noscript>
{% endif %}
<script>p2kmgclCallbacks.push(function () {
    var styles = document.getElementsByClassName('unloadedStyle'),
        newLink;
    for (var i = 0; i < styles.length; i++) {
        newLink = document.createElement('link');
        newLink.rel = 'stylesheet';
        newLink.href = styles[i].dataset.href;
        document.head.appendChild(newLink);
    }
});</script>
