.blog {
    > .articleList {
        > header {

        }
    }
}

.index {
    > .intro {
        margin: 5em auto;

        > header {
            display: none;
        }

        > p {
            text-align: justify;
        }
    }
}
