/**
 * Autor: Pablo Molina <pablomolina.me>
 * Nombre: Loremipsum
 * Descripción: Primer tema creado para la web
 * Colores: http://www.colourlovers.com/palette/92095/Giant_Goldfish
 * Fuentes: Fjalla One, Open Sans, Inconsolata
 */

// Tipografías
@titleFont: Fjalla One, 'Fjalla One', Verdana;
@bodyFont: Open Sans, 'Open Sans', Verdana;
@codeFont: Inconsolata, 'Inconsolata', Consolas, Monospace;
@bodyFontSize: 14px;

// Tamaños de pantalla
@sizeLarge:  1920px;
@sizeScreen: 960px;
@sizeTablet: 640px;
@sizePhone:  480px;
@sizeSmall:  320px;
@sizeTiny:   240px;

// Colores
@backgroundColor: #E0E4CC;
@mainColor: #222222;
@secondaryColor: #FA6900;
@linkColor: darken(#69D2E7, 10%);
@highlightColor: #69D2E7;
