---
layout: page
title: Pensamientos
section: blog
menu: personal
icon: puzzle-piece
blog: true
excerpt: Pensamientos propios que nada tienen que ver con programación o informática.
---

<section class="blog personal list">
    <header>
        <h1>Blog - Entradas personales</h1>
        <p>Los siguientes artículos son pensamientos propios que nada tienen que ver con programación o informática así que, por favor, tómalos como tales.</p>
        <p>Si te han gustado y tienes ganas de leer más cosas de este tipo puedes echar un vistazo a <a href="http://deviantart.pablomolina.me/" target='_blank'>mi perfil en DeviantArt</a> o <a href="http://feed.pablomolina.me/">suscribirte al blog</a> (las "entradas personales" son lo que estás buscando).</p>
    </header>

    {% for post in site.posts %}{% if post.categories contains 'personal' %}
        {% assign post_type = 'cover' %}
        {% assign content = post.content %}
        {% include post_content.html %}
    {% endif %}{% endfor %}
</section>
