---
layout: page
title: Programación
section: blog
menu: programming
blog: true
icon: code
excerpt: Cuando me centro en programar me gusta investigar por mi cuenta y, si encuentro algo realmente interesante, lo guardo aquí para utilizarlo en el futuro. También hay algunos experimentos o simplemente ideas para implementar, pero en general son artículos bastante prácticos.
---

<section class="blog programming list">
    <header>
        <h1>Blog - Programación e informática</h1>
        <p>Cuando me centro en programar me gusta investigar por mi cuenta y, si encuentro algo realmente interesante, lo guardo aquí para utilizarlo en el futuro. También hay algunos <i>experimentos</i> o simplemente ideas para implementar, pero en general son artículos bastante prácticos.</p>    
    </header>

    {% for post in site.posts %}{% if post.categories contains 'programming' %}
        {% assign content = post.content %}
        {% assign post_type = 'list' %}
        {% include post_content.html %}
    {% endif %}{% endfor %}
</section>
